@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rtl {
    direction: rtl;
  }
}

@font-face {
  font-family: "Vazir";
  src: url("../../public/assets/fonts/Vazir.ttf");
}
@font-face {
  font-family: "Estedad";
  src: url("../../public/assets/fonts/Estedad[KSHD,wght].woff2");
}
